@{
    ViewBag.Title = "Index";
    var cellWidth = 10;
}
@model Scheduler.Models.HomeModel 


<div class="center">
    <b><span>Number of processes: </span></b><input type="text" id="NumProcesses" size="3"/>
    <button id="NumProcessSubmit">Submit</button>
</div>
<hr/>
<br/>

<div class="center">
    <span>Number of Processes: </span><b>@Model.NumProcess</b>
    <table id="CPUTimeTable">
            <thead>
                <th>Process</th>
                <th>Arrival Time</th>
                @for (var i = 0; i < Model.ProcessItems.Max(x => x.BurstArray.Count()); i ++ )
                {
                    <th>@(i%2 == 0 ? "CPU" : "I/O") @((i/2)+1)</th>
                }
            </thead>
            <tbody>
                @for (var i = 0; i < Model.ProcessItems.Count; i ++ )
                {
                    <tr>
                        <td class="P@(i+1)">P @(i+1)</td>
                        <td>@Model.ProcessItems[i].ArrivalTime</td>
                        @for (var j = 0; j < Model.ProcessItems[i].BurstArray.Count(); j++){
                            <td>@Model.ProcessItems[i].BurstArray[j]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
</div>



<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                    FEEDBACK 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->
    <h1 id="FeedbackOpenClose">Feedback Algorithm</h1>
<hr/>
    <div id="FeedbackContainer">
        <h3>CPU</h3>  
        <div class="GanttContainer">
            @for (var i = 0; i < Model.Feedback.CpuProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.Feedback.CpuProcesses[i].StartTime != 0)
                    {
                        <span startTime="@(Model.Feedback.CpuProcesses[i].StartTime)" duration="@(Model.Feedback.CpuProcesses[i].Duration)" style="width: @(Model.Feedback.CpuProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.Feedback.CpuProcesses[i].StartTime</span>
                    }
                    <span startTime="@(Model.Feedback.CpuProcesses[i].StartTime)" duration="@(Model.Feedback.CpuProcesses[i].Duration)" style="width: @(Model.Feedback.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
                }
                else
                {
                    if (Model.Feedback.CpuProcesses[i].StartTime > (Model.Feedback.CpuProcesses[i - 1].StartTime + Model.Feedback.CpuProcesses[i - 1].Duration))
                    {
                        <span startTime="@(Model.Feedback.CpuProcesses[i].StartTime)" duration="@(Model.Feedback.CpuProcesses[i].Duration)" style="width: @(((Model.Feedback.CpuProcesses[i].StartTime) - (Model.Feedback.CpuProcesses[i - 1].StartTime + Model.Feedback.CpuProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.Feedback.CpuProcesses[i].StartTime) - (Model.Feedback.CpuProcesses[i - 1].StartTime + Model.Feedback.CpuProcesses[i-1].Duration))</span>
                    }
                    <span startTime="@(Model.Feedback.CpuProcesses[i].StartTime)" duration="@(Model.Feedback.CpuProcesses[i].Duration)" style="width: @(Model.Feedback.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
                }
            }
        </div>
        <h3>I/O</h3>
        <div class="GanttContainer">
            @for (var i = 0; i < Model.Feedback.IoProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.Feedback.IoProcesses[i].StartTime != 0)
                    {
                        <span startTime="@(Model.Feedback.IoProcesses[i].StartTime)" duration="@(Model.Feedback.IoProcesses[i].Duration)" style="width: @(Model.Feedback.IoProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.Feedback.IoProcesses[i].StartTime</span>
                    }
                    <span startTime="@(Model.Feedback.IoProcesses[i].StartTime)" duration="@(Model.Feedback.IoProcesses[i].Duration)" style="width: @(Model.Feedback.IoProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.IoProcesses[i].Name">@Model.Feedback.IoProcesses[i].Duration</span>
                }
                else
                {
                    if (Model.Feedback.IoProcesses[i].StartTime > (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))
                    {
                        <span startTime="@(Model.Feedback.IoProcesses[i].StartTime)" duration="@(Model.Feedback.IoProcesses[i].Duration)" style="width: @(((Model.Feedback.IoProcesses[i].StartTime) - (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.Feedback.IoProcesses[i].StartTime) - (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))</span>
                    }
                    <span startTime="@(Model.Feedback.IoProcesses[i].StartTime)" duration="@(Model.Feedback.IoProcesses[i].Duration)" style="width: @(Model.Feedback.IoProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.IoProcesses[i].Name">@Model.Feedback.IoProcesses[i].Duration</span>
                }
            }
        </div>
        <h3>Process Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                @for (var i = 0; i < Model.ProcessItems.Count; i ++ )
                {
                    <th>P@(i+1)</th>
                }
            </thead>
            <tbody>
                <tr>
                    <td>Waiting Time</td>
                    @foreach (var p in Model.Feedback.SchedulerStats.ProcessWaitTimes.ToList())
                    {
                        <td>@(p.Value)</td>
                    }
                </tr>
            </tbody>
        </table>
        <h3>Overall Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                <th>Record</th>
            </thead>
            <tbody>
                <tr>
                    <td>CPU Utilization</td>
                    <td>@(Math.Round(Model.Feedback.SchedulerStats.CpuUtilization * 100,2))%</td>
                </tr>
                <tr>
                    <td>Average Waiting Time</td>
                    <td>@Model.Feedback.SchedulerStats.AverageWaitingTime</td>
                </tr>
                <tr>
                    <td>Average Turnaround Time</td>
                    <td>@Model.Feedback.SchedulerStats.AverageTurnAroundTime</td>
                </tr>
            </tbody>
        </table>
    </div>


<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                    FCFS 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->

<h1 id="FCFSOpenClose">First Come First Serve (FCFS) Algorithm</h1>
<hr/>
    <div id="FCFSContainer" class="hidden">
        <h3>CPU</h3>  
        <div class="GanttContainer">
            @for (var i = 0; i < Model.FCFS.CpuProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.FCFS.CpuProcesses[i].StartTime != 0)
                    {
                        <span startTime="@(Model.FCFS.CpuProcesses[i].StartTime)" duration="@(Model.FCFS.CpuProcesses[i].Duration)" style="width: @(Model.FCFS.CpuProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.FCFS.CpuProcesses[i].StartTime</span>
                    }
                    <span startTime="@(Model.FCFS.CpuProcesses[i].StartTime)" duration="@(Model.FCFS.CpuProcesses[i].Duration)" style="width: @(Model.FCFS.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.FCFS.CpuProcesses[i].Name">@Model.FCFS.CpuProcesses[i].Duration</span>
                }
                else
                {
                    if (Model.FCFS.CpuProcesses[i].StartTime > (Model.FCFS.CpuProcesses[i - 1].StartTime + Model.FCFS.CpuProcesses[i - 1].Duration))
                    {
                        <span startTime="@(Model.FCFS.CpuProcesses[i].StartTime)" duration="@(Model.FCFS.CpuProcesses[i].Duration)" style="width: @(((Model.FCFS.CpuProcesses[i].StartTime) - (Model.FCFS.CpuProcesses[i - 1].StartTime + Model.FCFS.CpuProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.FCFS.CpuProcesses[i].StartTime) - (Model.FCFS.CpuProcesses[i - 1].StartTime + Model.FCFS.CpuProcesses[i-1].Duration))</span>
                    }
                    <span startTime="@(Model.FCFS.CpuProcesses[i].StartTime)" duration="@(Model.FCFS.CpuProcesses[i].Duration)" style="width: @(Model.FCFS.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.FCFS.CpuProcesses[i].Name">@Model.FCFS.CpuProcesses[i].Duration</span>
                }
            }
        </div>
        <h3>I/O</h3>
    <div class="GanttContainer">
        @for (var i = 0; i < Model.FCFS.IoProcesses.Count; i++)
        {
            if (i == 0)
            {
                if (Model.FCFS.IoProcesses[i].StartTime != 0)
                {
                    <span startTime="@(Model.FCFS.IoProcesses[i].StartTime)" duration="@(Model.FCFS.IoProcesses[i].Duration)" style="width: @(Model.FCFS.IoProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.FCFS.IoProcesses[i].StartTime</span>
                }
                <span startTime="@(Model.FCFS.IoProcesses[i].StartTime)" duration="@(Model.FCFS.IoProcesses[i].Duration)" style="width: @(Model.FCFS.IoProcesses[i].Duration*cellWidth)px;" class="@Model.FCFS.IoProcesses[i].Name">@Model.FCFS.IoProcesses[i].Duration</span>
            }
            else
            {
                if (Model.FCFS.IoProcesses[i].StartTime > (Model.FCFS.IoProcesses[i - 1].StartTime + Model.FCFS.IoProcesses[i - 1].Duration))
                {
                    <span startTime="@(Model.FCFS.IoProcesses[i].StartTime)" duration="@(Model.FCFS.IoProcesses[i].Duration)" style="width: @(((Model.FCFS.IoProcesses[i].StartTime) - (Model.FCFS.IoProcesses[i - 1].StartTime + Model.FCFS.IoProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.FCFS.IoProcesses[i].StartTime) - (Model.FCFS.IoProcesses[i - 1].StartTime + Model.FCFS.IoProcesses[i - 1].Duration))</span>
                }
                <span startTime="@(Model.FCFS.IoProcesses[i].StartTime)" duration="@(Model.FCFS.IoProcesses[i].Duration)" style="width: @(Model.FCFS.IoProcesses[i].Duration*cellWidth)px;" class="@Model.FCFS.IoProcesses[i].Name">@Model.FCFS.IoProcesses[i].Duration</span>
            }
        }
    </div>
    <h3>Process Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                @for (var i = 0; i < Model.ProcessItems.Count; i ++ )
                {
                    <th>P@(i+1)</th>
                }
            </thead>
            <tbody>
                <tr>
                    <td>Waiting Time</td>
                    @foreach (var p in Model.FCFS.SchedulerStats.ProcessWaitTimes.ToList())
                    {
                        <td>@(p.Value)</td>
                    }
                </tr>
            </tbody>
        </table>
        <h3>Overall Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                <th>Record</th>
            </thead>
            <tbody>
                <tr>
                    <td>CPU Utilization</td>
                    <td>@(Math.Round(Model.FCFS.SchedulerStats.CpuUtilization * 100,2))%</td>
                </tr>
                <tr>
                    <td>Average Waiting Time</td>
                    <td>@Math.Round(Model.FCFS.SchedulerStats.AverageWaitingTime,2)</td>
                </tr>
                <tr>
                    <td>Average Turnaround Time</td>
                    <td>@Math.Round(Model.FCFS.SchedulerStats.AverageTurnAroundTime,2)</td>
                </tr>
            </tbody>
        </table>
    </div>


<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                    Shortest Process Next 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->

<h1 id="SPNOpenClose">Shortest Process Next (non-preemptive) Algorithm</h1>
<hr/>

<div id="SPNContainer" class="hidden">
    <h3>CPU</h3>  
        <div class="GanttContainer">
            @for (var i = 0; i < Model.SPN.CpuProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.SPN.CpuProcesses[i].StartTime != 0)
                    {
                        <span startTime="@(Model.SPN.CpuProcesses[i].StartTime)" duration="@(Model.SPN.CpuProcesses[i].Duration)" style="width: @(Model.SPN.CpuProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.SPN.CpuProcesses[i].StartTime</span>
                    }
                    <span startTime="@(Model.SPN.CpuProcesses[i].StartTime)" duration="@(Model.SPN.CpuProcesses[i].Duration)" style="width: @(Model.SPN.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.SPN.CpuProcesses[i].Name">@Model.SPN.CpuProcesses[i].Duration</span>
                }
                else
                {
                    if (Model.SPN.CpuProcesses[i].StartTime > (Model.SPN.CpuProcesses[i - 1].StartTime + Model.SPN.CpuProcesses[i - 1].Duration))
                    {
                        <span startTime="@(Model.SPN.CpuProcesses[i].StartTime)" duration="@(Model.SPN.CpuProcesses[i].Duration)" style="width: @(((Model.SPN.CpuProcesses[i].StartTime) - (Model.SPN.CpuProcesses[i - 1].StartTime + Model.SPN.CpuProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.SPN.CpuProcesses[i].StartTime) - (Model.SPN.CpuProcesses[i - 1].StartTime + Model.SPN.CpuProcesses[i-1].Duration))</span>
                    }
                    <span startTime="@(Model.SPN.CpuProcesses[i].StartTime)" duration="@(Model.SPN.CpuProcesses[i].Duration)" style="width: @(Model.SPN.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.SPN.CpuProcesses[i].Name">@Model.SPN.CpuProcesses[i].Duration</span>
                }
            }
        </div>
        <h3>I/O</h3>
    <div class="GanttContainer">
        @for (var i = 0; i < Model.SPN.IoProcesses.Count; i++)
        {
            if (i == 0)
            {
                if (Model.SPN.IoProcesses[i].StartTime != 0)
                {
                    <span startTime="@(Model.SPN.IoProcesses[i].StartTime)" duration="@(Model.SPN.IoProcesses[i].Duration)" style="width: @(Model.SPN.IoProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.SPN.IoProcesses[i].StartTime</span>
                }
                <span startTime="@(Model.SPN.IoProcesses[i].StartTime)" duration="@(Model.SPN.IoProcesses[i].Duration)" style="width: @(Model.SPN.IoProcesses[i].Duration*cellWidth)px;" class="@Model.SPN.IoProcesses[i].Name">@Model.SPN.IoProcesses[i].Duration</span>
            }
            else
            {
                if (Model.SPN.IoProcesses[i].StartTime > (Model.SPN.IoProcesses[i - 1].StartTime + Model.SPN.IoProcesses[i - 1].Duration))
                {
                    <span startTime="@(Model.SPN.IoProcesses[i].StartTime)" duration="@(Model.SPN.IoProcesses[i].Duration)" style="width: @(((Model.SPN.IoProcesses[i].StartTime) - (Model.SPN.IoProcesses[i - 1].StartTime + Model.SPN.IoProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.SPN.IoProcesses[i].StartTime) - (Model.SPN.IoProcesses[i - 1].StartTime + Model.SPN.IoProcesses[i - 1].Duration))</span>
                }
                <span startTime="@(Model.SPN.IoProcesses[i].StartTime)" duration="@(Model.SPN.IoProcesses[i].Duration)" style="width: @(Model.SPN.IoProcesses[i].Duration*cellWidth)px;" class="@Model.SPN.IoProcesses[i].Name">@Model.SPN.IoProcesses[i].Duration</span>
            }
        }
    </div>
    <h3>Process Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                @for (var i = 0; i < Model.ProcessItems.Count; i ++ )
                {
                    <th>P@(i+1)</th>
                }
            </thead>
            <tbody>
                <tr>
                    <td>Waiting Time</td>
                    @foreach (var p in Model.SPN.SchedulerStats.ProcessWaitTimes.ToList())
                    {
                        <td>@(p.Value)</td>
                    }
                </tr>
            </tbody>
        </table>
        <h3>Overall Statistics</h3>
        <table>
            <thead>
                <th>Stat</th>
                <th>Record</th>
            </thead>
            <tbody>
                <tr>
                    <td>CPU Utilization</td>
                    <td>@(Math.Round(Model.SPN.SchedulerStats.CpuUtilization * 100,2))%</td>
                </tr>
                <tr>
                    <td>Average Waiting Time</td>
                    <td>@Math.Round(Model.SPN.SchedulerStats.AverageWaitingTime,2)</td>
                </tr>
                <tr>
                    <td>Average Turnaround Time</td>
                    <td>@Math.Round(Model.SPN.SchedulerStats.AverageTurnAroundTime,2)</td>
                </tr>
            </tbody>
        </table>
</div>


<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                    Shortes Time Remaining 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->

<h1 id="STROpenClose">Shortest Time Remaining (preemptive) Algorithm</h1>
<hr/>
<div id="STRContainer" class="hidden">
        <h3>CPU</h3>  
        <div class="GanttContainer">
            @for (var i = 0; i < Model.Feedback.CpuProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.Feedback.CpuProcesses[i].StartTime != 0)
                    {
                        <span style="width:@(Model.Feedback.CpuProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.Feedback.CpuProcesses[i].StartTime</span>
                    }
                    <span style="width:@(Model.Feedback.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
                }
                else {
                    if (Model.Feedback.CpuProcesses[i].StartTime > (Model.Feedback.CpuProcesses[i - 1].StartTime + Model.Feedback.CpuProcesses[i-1].Duration))
                    {
                        <span style="width:@(((Model.Feedback.CpuProcesses[i].StartTime)-(Model.Feedback.CpuProcesses[i-1].StartTime + Model.Feedback.CpuProcesses[i-1].Duration))*cellWidth)px;" class="Break">@((Model.Feedback.CpuProcesses[i].StartTime)-(Model.Feedback.CpuProcesses[i-1].StartTime + Model.Feedback.CpuProcesses[i].Duration))</span>
                    }
                    <span style="width:@(Model.Feedback.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
                }
            }
        </div>
        <h3>I/O</h3>
        <div class="GanttContainer">
            @for (var i = 0; i < Model.Feedback.IoProcesses.Count; i++)
            {
                if (i == 0)
                {
                    if (Model.Feedback.IoProcesses[i].StartTime != 0)
                    {
                        <span style="width: @(Model.Feedback.IoProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.Feedback.IoProcesses[i].StartTime</span>
                    }
                    <span style="width: @(Model.Feedback.IoProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.IoProcesses[i].Name">@Model.Feedback.IoProcesses[i].Duration</span>
                }
                else
                {
                    if (Model.Feedback.IoProcesses[i].StartTime > (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))
                    {
                        <span style="width: @(((Model.Feedback.IoProcesses[i].StartTime) - (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.Feedback.IoProcesses[i].StartTime) - (Model.Feedback.IoProcesses[i - 1].StartTime + Model.Feedback.IoProcesses[i - 1].Duration))</span>
                    }
                    <span style="width: @(Model.Feedback.IoProcesses[i].Duration*cellWidth)px;" class="@Model.Feedback.IoProcesses[i].Name">@Model.Feedback.IoProcesses[i].Duration</span>
                }
            }
        </div>
</div>


<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                    Round Robin 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
-->

<h1 id="RROpenClose">Round Robin Algorithm</h1>
<hr/>
<div id="RRContainer" class="hidden">
    <h3>Quantum: @Model.RR.Quantum</h3>
    <h3>CPU</h3>  
    <div class="GanttContainer">
        @for (var i = 0; i < Model.RR.CpuProcesses.Count; i++)
        {
            if (i == 0)
            {
                if (Model.RR.CpuProcesses[i].StartTime != 0)
                {
                    <span startTime="@(Model.RR.CpuProcesses[i].StartTime)" duration="@(Model.RR.CpuProcesses[i].Duration)" style="width: @(Model.RR.CpuProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.RR.CpuProcesses[i].StartTime</span>
                }
                <span startTime="@(Model.RR.CpuProcesses[i].StartTime)" duration="@(Model.RR.CpuProcesses[i].Duration)" style="width: @(Model.RR.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.RR.CpuProcesses[i].Name">@Model.RR.CpuProcesses[i].Duration</span>
            }
            else
            {
                if (Model.RR.CpuProcesses[i].StartTime > (Model.RR.CpuProcesses[i - 1].StartTime + Model.RR.CpuProcesses[i - 1].Duration))
                {
                    <span startTime="@(Model.RR.CpuProcesses[i].StartTime)" duration="@(Model.RR.CpuProcesses[i].Duration)" style="width: @(((Model.RR.CpuProcesses[i].StartTime) - (Model.RR.CpuProcesses[i - 1].StartTime + Model.RR.CpuProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.RR.CpuProcesses[i].StartTime) - (Model.RR.CpuProcesses[i - 1].StartTime + Model.RR.CpuProcesses[i-1].Duration))</span>
                }
                <span startTime="@(Model.RR.CpuProcesses[i].StartTime)" duration="@(Model.RR.CpuProcesses[i].Duration)" style="width: @(Model.RR.CpuProcesses[i].Duration*cellWidth)px;" class="@Model.RR.CpuProcesses[i].Name">@Model.RR.CpuProcesses[i].Duration</span>
            }
        }
    </div>
    <h3>I/O</h3>
    <div class="GanttContainer">
        @for (var i = 0; i < Model.RR.IoProcesses.Count; i++)
        {
            if (i == 0)
            {
                if (Model.RR.IoProcesses[i].StartTime != 0)
                {
                    <span startTime="@(Model.RR.IoProcesses[i].StartTime)" duration="@(Model.RR.IoProcesses[i].Duration)" style="width: @(Model.RR.IoProcesses[i].StartTime*cellWidth)px;" class="Break">@Model.RR.IoProcesses[i].StartTime</span>
                }
                <span startTime="@(Model.RR.IoProcesses[i].StartTime)" duration="@(Model.RR.IoProcesses[i].Duration)" style="width: @(Model.RR.IoProcesses[i].Duration*cellWidth)px;" class="@Model.RR.IoProcesses[i].Name">@Model.RR.IoProcesses[i].Duration</span>
            }
            else
            {
                if (Model.RR.IoProcesses[i].StartTime > (Model.RR.IoProcesses[i - 1].StartTime + Model.RR.IoProcesses[i - 1].Duration))
                {
                    <span startTime="@(Model.RR.IoProcesses[i].StartTime)" duration="@(Model.RR.IoProcesses[i].Duration)" style="width: @(((Model.RR.IoProcesses[i].StartTime) - (Model.RR.IoProcesses[i - 1].StartTime + Model.RR.IoProcesses[i - 1].Duration))*cellWidth)px;" class="Break">@((Model.RR.IoProcesses[i].StartTime) - (Model.RR.IoProcesses[i - 1].StartTime + Model.RR.IoProcesses[i - 1].Duration))</span>
                }
                <span startTime="@(Model.RR.IoProcesses[i].StartTime)" duration="@(Model.RR.IoProcesses[i].Duration)" style="width: @(Model.RR.IoProcesses[i].Duration*cellWidth)px;" class="@Model.RR.IoProcesses[i].Name">@Model.RR.IoProcesses[i].Duration</span>
            }
        }
    </div>
    <h3>Process Statistics</h3>
    <table>
        <thead>
            <th>Stat</th>
            @for (var i = 0; i < Model.ProcessItems.Count; i ++ )
            {
                <th>P@(i+1)</th>
            }
        </thead>
        <tbody>
            <tr>
                <td>Waiting Time</td>
                @foreach (var p in Model.Feedback.SchedulerStats.ProcessWaitTimes.ToList())
                {
                    <td>@(p.Value)</td>
                }
            </tr>
        </tbody>
    </table>
    <h3>Overall Statistics</h3>
    <table>
        <thead>
            <th>Stat</th>
            <th>Record</th>
        </thead>
        <tbody>
            <tr>
                <td>CPU Utilization</td>
                <td>@(Math.Round(Model.Feedback.SchedulerStats.CpuUtilization * 100,2))%</td>
            </tr>
            <tr>
                <td>Average Waiting Time</td>
                <td>@Model.Feedback.SchedulerStats.AverageWaitingTime</td>
            </tr>
            <tr>
                <td>Average Turnaround Time</td>
                <td>@Model.Feedback.SchedulerStats.AverageTurnAroundTime</td>
            </tr>
        </tbody>
    </table>
</div>

</div>

