@{
    ViewBag.Title = "Index";
}
@model Scheduler.Models.HomeModel 

<table>
    <tr>
        
    </tr>
</table>

<h1>Feedback Algorithm</h1>
<hr/>
<div class="GanttContainer">  
    @for (var i = 0; i < Model.Feedback.CpuProcesses.Count; i++)
    {
        if (i == 0)
        {
            <span style="width:@(Model.Feedback.CpuProcesses[i].Duration*10)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
        }
        else if (Model.Feedback.CpuProcesses[i].StartTime > (Model.Feedback.CpuProcesses[i - 1].StartTime + Model.Feedback.CpuProcesses[i].Duration))
        {
            <span style="width:@(((Model.Feedback.CpuProcesses[i].StartTime)-(Model.Feedback.CpuProcesses[i-1].StartTime + Model.Feedback.CpuProcesses[i].Duration))*10)px;" class="Break">@Model.Feedback.CpuProcesses[i].Duration</span>
        }
        else
        {
            <span style="width:@(Model.Feedback.CpuProcesses[i].Duration*10)px;" class="@Model.Feedback.CpuProcesses[i].Name">@Model.Feedback.CpuProcesses[i].Duration</span>
        }
        
    }
</div>

<h1>First Come First Serve (FCFS) Algorithm</h1>
<hr/>

<h1>Shortes Process Next (non-preemptive) Algorithm</h1>
<hr/>
@*
@for (var i = 0; i < Model.SRT.CpuProcesses.Count; i++)
    {
        if (i == 0)
        {
            <span style="width:@(Model.SRT.CpuProcesses[i].Duration*10)px;" class="@Model.SRT.CpuProcesses[i].Name">@Model.SRT.CpuProcesses[i].Duration</span>
        }
        else if (Model.SRT.CpuProcesses[i].StartTime > (Model.SRT.CpuProcesses[i - 1].StartTime + Model.SRT.CpuProcesses[i].Duration))
        {
            <span style="width:@(((Model.SRT.CpuProcesses[i].StartTime)-(Model.SRT.CpuProcesses[i-1].StartTime + Model.SRT.CpuProcesses[i].Duration))*10)px;" class="Break">@Model.SRT.CpuProcesses[i].Duration</span>
        }
        else
        {
            <span style="width:@(Model.SRT.CpuProcesses[i].Duration*10)px;" class="@Model.SRT.CpuProcesses[i].Name">@Model.SRT.CpuProcesses[i].Duration</span>
        }
        
    }
*@
<h1>Shortest Time Remaining (preemptive) Algorithm</h1>
<hr/>

<h1>Round Robin Algorithm</h1>
<hr/>